{% extends "base.html" %}

{% block content %}
  <h1>Мои привычки</h1>
  <ul>
    {% for habit in page_obj %}
      <li>{{ habit.title }} — {{ habit.time }}</li>
    {% endfor %}
  </ul>

  <div>
    {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}">← Назад</a>
    {% endif %}

    Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}

    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">Вперёд →</a>
    {% endif %}
  </div>
{% endblock %}